[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "external/SDL"]
	path = external/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "external/sdl2webgpu"]
	path = external/sdl2webgpu
	url = git@github.com:eliemichel/sdl2webgpu.git
[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy
